:root {
  color-scheme: light dark;

  --text-color: light-dark(black, #f1f1f1);
  --border-color: light-dark(#e6e6e6, #373737);
  --background-color: light-dark(white, #1e1e1e);
  --background-hover-color: light-dark(#f1f1f1, #2f2f2f);
}

body {
  font-size: 12px;
  font-family: system-ui, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 22px;
}

.editor {
  overflow: hidden;

  grid-row: 1;
}

.statusbar {
  border-top: solid 1px var(--border-color);
  background-color: var(--background-color);
  user-select: none;

  padding: 0 10px;
  display: flex;
  grid-row: 2;
}

.select {
  display: flex;
  position: relative;
  align-items: center;
  width: fit-content;
}

.select + .select {
  border-left: solid 1px var(--border-color);
}

select {
  color: inherit;

  padding-left: 6px;
  height: 100%;
}

select.small {
  width: 30px;
}

select.medium {
  width: 60px;
}

select.large {
  width: 95px;
}

select:hover {
  background-color: var(--background-hover-color);
}

.space {
  flex: 1;
}
